*{
    box-sizing: border-box;
    margin:0px;
}
.calculator{
    margin:0px auto;
    padding:20px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    max-width: 400px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top:20px;
}
#result{
    width:100%;
    padding:10px;
    font-size:25px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3) inset;
    border:none;
    border-radius:5px;
}
.buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    margin-top:10px;
}
button{
    font-size:10px;
    padding:10px;
    border:none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius:5px;
    cursor:pointer;
    transition:background-color ,0.3s ease
}
button:hover{
    background-color: #ddd;
}
.clear{
    background-color: #ff4136;
    color:#fff;
}
.numbers, .decimals{
    background-color:#fff;
    color:#333;
}
.operators{
    background-color:#0074d9;
    color:#fff;
}
.equals{
    background-color:#01ff70;
    grid-row:span 3;
    /*In CSS Grid, grid-row: span 3; tells an element to stretch across 3 rows vertically within the grid. */
    color:#fff;
}